In [85]:
import pandas as pd
import os

In [86]:
path = os.path.join("Resources", "purchase_data.csv")
df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

In [87]:
#Player Count
players = df['SN'].nunique()
print("There are %s unique players in this dataset." % players)

There are 576 unique players in this dataset.

In [88]:
# Purchasing Analysis (Total)

players = df['SN'].nunique()
items = df['Item ID'].nunique()
purchases = df['Purchase ID'].nunique()
revenue = df['Price'].sum()
avg_price = df['Price'].mean()

purchasingAnalysis = pd.DataFrame({
    "Num of Items": [items],
    'Average Price': [avg_price],
    'Num of Purchases': [purchases],
    'Total Sales': [revenue],
})

purchasingAnalysis['Average Price'] = purchasingAnalysis['Average Price'].map('${:.2f}'.format)
purchasingAnalysis['Total Sales'] = purchasingAnalysis['Total Sales'].map('${:,.2f}'.format)
purchasingAnalysis

   Num of Items Average Price  Num of Purchases Total Sales
0           183         $3.05               780   $2,379.77

In [89]:
#Gender Demographics

unique_playerDF = df.drop_duplicates('SN')
unique_playerDF['Gender'].value_counts()
numMale = (unique_playerDF['Gender'] == 'Male').sum()
numFemale = (unique_playerDF['Gender'] == 'Female').sum()
numOther = (unique_playerDF['Gender'] == 'Other / Non-Disclosed').sum()
genderDemographics = pd.DataFrame({
    'Total Count': [numMale, numFemale, numOther],
    'Percentage of Players': [(numMale/players)*100,(numFemale/players)*100, (numOther/players)*100],
}, ['Males', 'Females', 'Other / Non-Disclosed'])
genderDemographics['Percentage of Players'] = genderDemographics['Percentage of Players'].map('{:.2f}%'.format)
genderDemographics

                       Total Count Percentage of Players
Males                          484                84.03%
Females                         81                14.06%
Other / Non-Disclosed           11                 1.91%

In [100]:
# Purchasing Analysis (Gender)
byGenderDF = df.groupby(['Gender'])
byGenderDF.sum(), byGenderDF.mean(), byGenderDF.count()

(                       Purchase ID    Age  Item ID    Price
 Gender
 Female                       42870   2412     9659   361.94
 Male                        255921  14942    60978  1967.64
 Other / Non-Disclosed         5019    363     1212    50.19,
                        Purchase ID        Age    Item ID     Price
 Gender
 Female                  379.380531  21.345133  85.477876  3.203009
 Male                    392.516871  22.917178  93.524540  3.017853
 Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000,
                        Purchase ID   SN  Age  Item ID  Item Name  Price
 Gender
 Female                         113  113  113      113        113    113
 Male                           652  652  652      652        652    652
 Other / Non-Disclosed           15   15   15       15         15     15)

In [119]:
genderCount = byGenderDF['SN'].count()
genderMeanPrice = byGenderDF['Price'].mean()
genderTotal = byGenderDF['Price'].sum()
genderUnique = byGenderDF['SN'].nunique()
genderAvgPurch = (genderTotal/genderUnique)

purchasingAnalysis = pd.DataFrame({
    'Purchase Count': genderCount,
    'Average Purchase Price': genderMeanPrice.map('${:,.2f}'.format),
    'Total Purchase Sum': genderTotal.map('${:,.2f}'.format),
    'Avg Total Purchase per Person': genderAvgPurch.map('${:,.2f}'.format)},
    ['Female', 'Male', 'Other / Non-Disclosed'])
purchasingAnalysis.index.name = 'Gender'
purchasingAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Sum,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [126]:
# Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
label_list = ["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_groups = pd.cut(unique_playerDF['Age'], bins, labels = label_list)
age_groups.value_counts()

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
0-10      17
40+       12
Name: Age, dtype: int64